.card {
    position: relative;
    background-position: center;
    background-size: cover;
    background-color: white;
    width: 756px;
    height: 1040px;
    margin: 0;
}

.card * {
    font-family: "futura-medium", "serif";
}

.card div.art,
.card div.art-details,
.card div.border,
.card div.elements {
    position: absolute;
    width: 756px;
    height: 1040px;
    background-position: center;
    background-size: cover;
    border: 0;
}

.card div.art-details {
    z-index: 15;
}

.card div.elements          { background-image: url("../img/card_elements_black.png"); }
.card div.elements-equip    { background-image: url("../img/card_elements_equip_title.png"); }
.card div.elements-marksman { background-image: url("../img/card_elements_black.png"); }
.card div.elements-defender { background-image: url("../img/card_elements_black.png"); }
.card div.elements-caster   { background-image: url("../img/card_elements_black.png"); }
.card div.elements-support  { background-image: url("../img/card_elements_black.png"); }
.card div.elements-fighter  { background-image: url("../img/card_elements_black.png"); }
.card div.elements-assassin { background-image: url("../img/card_elements_black.png"); }

.card div.card-name {
    position: absolute;
    color: #2c2c2c;
    font-size: 42px;
    font-family: "futura-bold", "serif";
    top: 22px;
    left: 196px;
    width: 288px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff;
}

.card div.card-cost {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    top: 84px;
    width: 500px;
    color: white;
    font-size: 16px;
    line-height: 44px;
    text-shadow: 0 0 4px #000, 0 0 4px #000;
}

.card div.card-cost div {
    background-image: url("../img/card_cost.png");
    width: 67px;
    height: 44px;
    margin-left: -18px;
    text-align: center;
}

.card div.hp,
.card div.attack,
.card div.defense {
    position: absolute;
    color: #2c2c2c;
    font-size: 96px;
    font-family: "futura-bold", "serif";
    top: 37px;
    text-shadow: 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff;
}

.card div.hp {
    top: 37px;
    left: 505px;
    font-size: 48px;
    line-height: 40px;
    color: #ffffff;
    text-shadow: 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000;
}

.card div.attack {
    left: 84px;
}

.card div.defense {
    left: 627px;
}

.card div.skill-group {
    position: relative;
    display: flex;
    margin-bottom: 0;
    margin-top: auto;
}

.card div.skill-group div.skill-container {
    width: 726px;
    margin-bottom: 56px;
    margin-top: auto;
}

.card div.skill-vanguard,
.card div.skill-center,
.card div.skill-rearguard,
.card div.skill-extra {
    color: white;
    font-size: 30px;
    text-shadow: 0 0 8px #000, 0 0 8px #000;
    margin-bottom: 6px;
}

.card div.skill-vanguard div.skill-line,
.card div.skill-center div.skill-line,
.card div.skill-rearguard div.skill-line,
.card div.skill-extra div.skill-line {
    position: relative;
    height: 56px;
    line-height: 58px;
    background-repeat: no-repeat;
    background-position: top 1px right 448px;
    width: 730px;
    padding-left: 36px;
    z-index: 20;
}

.card div.skill-vanguard div.skill-line  { background-image: url("../img/card_vanguard.png"); }
.card div.skill-center div.skill-line    { background-image: url("../img/card_center.png"); }
.card div.skill-rearguard div.skill-line { background-image: url("../img/card_rearguard.png"); }
.card div.skill-extra div.skill-line     { background-image: url("../img/card_extra.png"); }

.card div.skill-line div.line {
    display: inline-block;
    width: 164px;
    vertical-align: top;
}

.card div.skill-line div.cost {
    display: inline-block;
    margin-right: 28px;
    padding-top: 0;
    font-size: 36px;
    font-family: "futura-bold", "serif";
}

.card div.skill-line div.skills {
    display: inline-block;
}

.card div.skill-line div.skills span {
    font-size: 22px;
    border-radius: 12px;
    border-width: 2px;
}

.card div.skill-description,
.card div.skill-description-back {
    position: relative;
    margin-top: -24px;
    width: 726px;
}

.card div.skill-description div.text,
.card div.skill-description-back div.text {
    font-size: 40px;
    line-height: 46px;
    font-family: "futura-light", "serif";
    margin-left: 32px;
    border-radius: 0 10px 10px 10px;
    padding: 24px 10px 10px 10px;
    text-shadow:
        0 0 8px #000, 0 0 8px #000, 0 0 8px #000, 0 0 8px #000, 0 0 8px #000, 0 0 8px #000, 0 0 8px #000, 0 0 8px #000,
        0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000;
}

.card div.skill-description {
    z-index: 20;
}

.card div.skill-description-back {
    position: absolute;
}

.card div.skill-description-back div.text {
    background-color: rgb(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 2px rgba(255,255,255,0.3);
    color: transparent;
    text-shadow: none;
}

.card div.skill-traits {
    position: relative;
    margin-bottom: 8px;
    padding-left: 32px;
    z-index: 20;
}

.card div.cardnumber {
    position: absolute;
    color: white;
    font-family: "futura-light", "serif";
    font-size: 18px;
    top: 990px;
    width: 724px;
    text-align: right;
    text-shadow: 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000, 0 0 4px #000;
}

.card div.cardnumber span.trait {
    font-size: 20px;
    border-radius: 12px;
    margin-right: 10px;
}

/* CARD EQUIP */
.card div.skill-group div.skill-container-equip {
    margin-bottom: 180px;
}

.card div.elements-equip div.card-name {
    text-align: center;
    width: 756px;
    left: auto;
}

.card div.elements-equip div.card-cost {
    width: 612px;
}

.card div.stats-equip {
    position: absolute;
    width: 756px;
    height: 126px;
    border: 0;
    top: 862px;
    background-position: top;
    background-image: url("../img/card_elements_equip.png");
}

.card div.stats-equip span.equip-plus {
    font-size: 34px;
    font-weight: 900;
    margin-right: -6px;
    vertical-align: middle;
    line-height: 0px;
}

.card div.stats-equip div.name {
    color: #2c2c2c;
    padding-top: 11px;
    font-size: 28px;
    font-family: "futura-bold", "serif";
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff;
}

.card div.stats-equip div.attack,
.card div.stats-equip div.defense {
    top: 6px;
    font-size: 74px;
    text-align: center;
    vertical-align: middle;
}

.card div.stats-equip div.attack {
    left: 46px;
}

.card div.stats-equip div.defense {
    left: 644px;
}