/*==============================*/
/*        TRAITS Y SKILLS       */
/*==============================*/
span.skill,
span.trait {
    font-size: 25px;
    line-height: 20px;
    font-family: "futura-bold", "serif";
    text-transform: uppercase;
    border-radius: 12px;
    padding: 0 12px 0 12px;
    margin: 0 3px 0 3px;
    white-space: nowrap;
    text-shadow: none;
    color: black; border: 2px solid black; background-color: white;
    box-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

span.trait {
    color: white; border: 2px solid white; background-color: black;
    box-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
}

span.skill-td,
span.trait-td {
    border-radius: 8px;
    border-width: 2px;
    font-size: 16px;
    box-shadow: none;
}

/*==============================*/
/*       TRAITS DE CLASES       */
/*==============================*/
span.trait-marksman { background-color: #930f0f; }
span.trait-defender { background-color: #65440e; }
span.trait-caster   { background-color: #1156d7; }
span.trait-support  { background-color: #316b1e; }
span.trait-fighter  { background-color: #a6a006; }
span.trait-assassin { background-color: #6d098f; }

/*==============================*/
/*       TRAITS ESPECIALES      */
/*==============================*/
span.trait-character {
    color: white; border: 2px solid white; background-color: #646464;
    box-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
}

/*==============================*/
/*            SKILLS            */
/*==============================*/
span.skill-ultimate {
    color: white; border: 2px solid white; background-color: #e30606;
    box-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white, 0 0 2px white;
}
